.tiptap {
  outline: none;
  padding: 0;
  width: 50rem;
  max-width: 55rem;
  font-family: 'Georgia', serif;
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0 auto;
}

  
.tiptap p {
  font-size: 1.2rem;
  color: #201F1F;
  line-height: 2rem;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: 200;
  letter-spacing: 0px;
  display: block;
  }
  
  .tiptap h1 {
    font-size: 2.9rem;
    font-weight: bold;
    color: #201F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: auto;
  }
  
  .tiptap h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #201F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 2.25rem;
  }
  
  .tiptap h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #201F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: auto;
  }

  /* .tiptap b {
    font-weight: 900;
  } */
  
  .tiptap .title {
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-family: 'Scheherazade New', serif;
    font-weight: 600;
  
  }
  
  .tiptap .small-desc {
    font-size: 0.8rem;
    color: #6F6B6B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  .tiptap .regular-para {
    font-size: 1.2rem;
    color: #201F1F;
    line-height: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
  }
  
  .tiptap .quote-para {
    padding-left: 1rem;
    border-left: 3px solid black;
    color: #201F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    font-style: italic;
    height: 2rem;
  }

  .tiptap .Value_Statement {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #8A8687;
    width: 80%;
    text-align: center;
    margin: 45px auto;
  }
  
  .tiptap blockquote p {
    padding-left: 1rem;
    border-left: 3px solid black;
    color: #201F1F;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2rem;
    font-style: italic;
  }
  
  .tiptap ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  .tiptap .separator {
    text-align: center;
    font-size: 1rem;
    color: #201F1F;
    margin: 80px auto;
    gap:3rem;
  }

  
  