/* Tailwind-like custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .button-article{
    transition: all 0.5s ease;
  }
  .button-article:hover {
    font-weight: 700;
  }
  .button-story{
    transition: all 0.5s ease;
  }
  .button-story:hover {
    font-weight: 700;
  }
  .settings-icon-wrapper {
    transition: opacity 0.2s ease;
  }
  
  .settings-icon-wrapper:hover {
    opacity: 0.5;
  }
  
